$white       : #FFFFFF;
$black       : #000000;
$textgrey    : #4d5152;
$lightgrey   : #929292;
$lightergrey : #f9f9f9;
$text        : #818080;
$lightgreen  : #dbeced;
$green       : #097d93;
$darkgreen   : #087085;
$orange      : #fb8800;
$lgreen      : #a4c84c;
$blue        : #264664;
$headergrey  : #434949;
$navgrey     : #4d5152;
$navhover    : #e5e5e5;

$primarycolor   : $orange;
$secondarycolor : $blue;