.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type="submit"], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type="submit"] {
    border: 2px solid #fff;
    float: right;
    font-size: 16px;
    margin: 0 16px 0 0;
    padding: 15px 10px;
    width: auto;
    border-radius: 10px;
    text-transform:capitalize;
}