.single-testimonial {
    #primary {
        background:$white;
        p {
            color:$textgrey;
        }
        .blog-archive {
            .hentry {
                border-bottom:0 none;
            }
        }
    }
}