body .vc_custom_1532435202078 {
    img {
        max-width:50%;
    }
}

@media #{$medium-down} {

}
@media #{$small-down} {
    body.home {
        #primary {
            padding:0!important;
        }
    }

    body .nopadding {
        padding:0!important;
    }
    body .nomargin {
        margin:0!important;
    }
    .vc_column_container>.vc_column-inner.vc_custom_1532433649325 {
        padding:0!important;
        margin:0!important;
    }
    .vc_row-fluid.vc_custom_1532430215488 {
        padding-bottom:0!important;
    }
    body .vc_custom_1532435202078 {
        img {
            max-width:100%;
        }
    }
    body {
        .vc_custom_1533677818624, .vc_custom_1537279660457 {
            padding:0!important;
        }
        .vc_custom_1537279660457 {
            .vc_row.vc_row-o-content-top>.vc_column_container>.vc_column-inner {
                padding-top:0;
            }
        }
    }
}